body{
    margin: 0;
    
}

.menu-navegacion{ /*Esto es para cambiar el color de fondo del menu de navegacion*/
    background-color: aquamarine;
    padding: 10px;/*Margen del menu*/
    margin: 0px;/*para que no tenga margen arriba*/
}

.menu-navegacion li{ /*Con esto colocamos los elementos de la lista uno junto a otro*/
    display: inline-block;
}

.menu-navegacion a{
    color: white; /*cambiar el color del texto*/
    text-decoration: none;/*se elimina el subrayado*/
}

.menu-navegacion a:hover{
    background-color: rgb(23, 27, 168); /*se llama pseudo selectores y es para marcar con otro color al momento de seleccionar una etiqueta del menu*/
}

/*-- Estilos flexbox --*/

.contenedor{
    display: flex; /*las imagenes se organizan una junto a otras y no debajo*/
    /*justify-content: center; /*centrar en contenido*/
    /*justify-content: baseline; las imagenes se van a lado izquierdo*/
    /*justify-content: end; las imagenes se van hacia el lado derecho*/
    /*justify-content: first baseline; las imagenes se van a lado izquierdo*/
    /*justify-content: flex-end;las imagenes se van hacia el lado derecho*/
    /*justify-content: flex-start;  las imagenes se van a lado izquierdo*/
    /*justify-content: last baseline;las imagenes se van a lado izquierdo*/
    /*justify-content: left; izquierda*/
    /*justify-content: right; derecha*/
    /*justify-content: safe;left; izquierda*/
    justify-content: space-around;/* Espacios alrededor ► las tres imagenes se separan por espacios iguales*/
    /*justify-content: space-between; Espacios alrededor ► las tres imagenes se separan por espacios iguales pero sin dejar espacio en los bordes de la pantalla*/
}

.contenedor1{
    display: flex;
    flex-wrap: wrap;/*especifica si los elementos "hijos" son obligados a permanecer en una misma línea o pueden fluir en varias líneas. Si la cobertura (wrap) está permitida, esta propiedad también te permite controlar la dirección en la cual serán apilados los elementos.*/
}


.contenedor2{
    display: flex;
    flex-wrap: wrap;/*especifica si los elementos "hijos" son obligados a permanecer en una misma línea o pueden fluir en varias líneas. Si la cobertura (wrap) está permitida, esta propiedad también te permite controlar la dirección en la cual serán apilados los elementos.*/
}
.box{
    width: 70%; /*Cada una de las imagenes ocupa el 25% , 70% el porcentaje que quieras sobre 100%*/
}

.box img{
    width: 100%; /*Para que distribuya el contenido en la pantalla*/
}